<div class=" layout-2 left-col" style="padding-bottom:20px ;">
  <div id="error-not-found" class="container">

    <div class="row">
      <aside id="column-left" class="col-sm-3 hidden-xs" style="margin-top:20px;">
        <!-- <div class="box">
          <div class="box-heading">Information</div>
          <div class="list-group">
            <a class="list-group-item" href="index8816.html?route=information/information&amp;information_id=4">About Us
            </a>
            <a class="list-group-item" href="index1766.html?route=information/information&amp;information_id=6">Delivery
              Information </a>
            <a class="list-group-item" href="index1679.html?route=information/information&amp;information_id=3">Privacy
              Policy </a>
            <a class="list-group-item" href="index99e4.html?route=information/information&amp;information_id=5">Terms
              &amp; Conditions </a>
            <a class="list-group-item" href="index2724.html?route=information/contact">Contact Us </a>
            <a class="list-group-item" href="index7cb2.html?route=information/sitemap">Site Map </a>
          </div>
        </div> -->
        <div class="swiper-viewport">
          <div id="banner" class="swiper-container single-banner">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#">
                  <img src="assets/image/cache/catalog/abc.jfif" alt="Portable Speaker."
                    class="img-responsive" />
                  <div class="left-banner">
                    <div class="left-text1">iPhone 14 pro max</div>
                    <div class="left-title">Apple</div>
                  </div>
                </a>

              </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="box latest">
          <div class="container-fluid">
            <div class="row">
              <div class="box-heading">Giới Thiệu</div>
              <div class="box-content">

                <div class="box-product  productbox-grid" id=" latest-grid">
                  <!-- <div class="product-items">
                    <div class="product-block product-thumb transition">
                      <div class="product-block-inner">
                        <div class="image">
                          <a href="index00bd.html?route=product/product&amp;product_id=54">
                            <img src="assets/image/cache/catalog/24-80x80.jpg"
                              title="Kids headphones bulk 10 pack multi colored for students"
                              alt="Kids headphones bulk 10 pack multi colored for students"
                              class="img-responsive reg-image" />
                            <div class="image_content"><img class="img-responsive hover-image"
                                src="assets/image/cache/catalog/24-01-80x80.jpg"
                                title="Kids headphones bulk 10 pack multi colored for students"
                                alt="Kids headphones bulk 10 pack multi colored for students" /></div>
                          </a>

                          <div class="product_hover_block">
                            <div class="action">
                              <button type="button" class="cart_button" onclick="cart.add('54 ');"
                                title="Add to Cart"><i class="fa fa-shopping-cart" area-hidden="true"></i> </button>
                              <div class="quickview-button">
                                <a class="quickbox" title="Quick View" href="#"><i class="fa fa-eye"></i></a>
                              </div>
                              <button class="wishlist" type="button" title="Add to Wish List "
                                onclick="wishlist.add('54 ');"><i class="fa fa-heart"></i></button>
                              <button class="compare_button" type="button" title="compare "
                                onclick="compare.add('54 ');"><i class="fa fa-exchange"></i></button>
                            </div>
                          </div>
                        </div>
                        <div class="product-details">
                          <div class="caption">
                            <h4><a href="index00bd.html?route=product/product&amp;product_id=54">Kids headphones bulk 10
                                pack multi colored for students </a></h4>
                            <div class="rating">
                              <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                              <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                              <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                              <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                              <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                            </div>


                            <p class="price">
                              $1,000.00
                              <span class="price-tax">Ex Tax: $1,000.00</span>
                            </p>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div> -->
                  <p>Mẫu cao cấp nhất trong dòng sản phẩm - iPhone 14 Pro Max dự kiến ​​sẽ được trang bị viên pin 4.323
                    mAh, dung lượng thấp hơn một chút so với pin 4.352 mAh có trong iPhone 13 Pro Max. Thú vị hơn khi
                    trước đó đã từng có nguồn tin cho rằng mẫu Pro Max mới sẽ có thời lượng pin tăng thêm 2 giờ 10 phút
                    so với mẫu tiền nhiệm. Đối với iPhone 14 Max - một sản phẩm thay thế mẫu mini, sẽ được trang bị viên
                    pin 4.325 mAh. Nếu tin rò rỉ chính xác thì iPhone 14 Max sẽ có pin dung lượng cao nhất trong cả bốn
                    mẫu.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <span class="latest_default_width" style="display:none; visibility:hidden"></span>

      </aside>

      <div id="content" class="col-sm-9">
        <h1 style="padding-top:30px ;">CART:</h1>

        <div class="container px-3 my-5 clearfix">
          <!-- Shopping cart table -->
          <div class="card">
            <div class="card-header">
              <h2>Shopping Cart</h2>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered m-0">
                  <thead>
                    <tr>
                      <!-- Set columns width -->
                      <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>

                      <th class="text-right py-3 px-4" style="width: 100px; padding-right: 30px;">Price</th>
                      <th class="text-right py-3 px-4" style="width: 100px;padding-right: 30px;">Sale</th>
                      <th class="text-center py-3 px-4" style="width: 120px;">Số lượng</th>
                      <th class="text-right py-3 px-4" style="width: 100px;padding-right: 30px;">Total</th>

                      <th class="text-center align-middle py-3 px-0" style="width: 50px;"> Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let list of sanpham;let indexOfelement=index;">
                      <td class="p-4">
                        <div class="media align-items-center">
                          <img src="{{PhotoPath}}/{{list.AnhSP}}" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                          <div class="media-body">
                            <a href="#" class="d-block text-dark">{{list.TenSP}}</a>
                            <small>
                              <span class="text-muted">Color: {{list.TenMS}}</span>
                              <!-- <span class="text-muted">Size: </span> EU 37 &nbsp;
                              <span class="text-muted">Ships from: </span> China -->
                            </small>
                          </div>
                        </div>
                      </td>
                      <td class="text-right font-weight-semibold align-middle p-4">{{list.Gia| number: '1.0-0' }}Đ</td>
                      <td class="text-right font-weight-semibold align-middle p-4">{{list.Sale}}%</td>
                      <td class="align-middle p-4" style="display: flex;">
                        <button class="btn" style="border:none;float:left;outline: none;"
                          (click)="Giam(list)">-</button>
                        <span
                          style="float:left;width: 25px;line-height: 35px;padding-left: 10px;">{{list.SoLuong}}</span>
                        <button class="btn" style="border:none;float:left;outline: none;"
                          (click)="Tang(list)">+</button>
                      </td>
                      <td class="text-right font-weight-semibold align-middle p-4">
                        {{(list.Gia*(100-list.Sale)/100)*list.SoLuong | number: '1.0-0' }}đ</td>
                      <td class="text-center align-middle px-0"><a routerLink="giohang"
                          class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove"
                          (click)="deleteProduct(indexOfelement)">×</a>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <!-- / Shopping cart table -->

              <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
                <!-- <div class="mt-4">
                  <label class="text-muted font-weight-normal">Promocode</label>
                  <input type="text" placeholder="ABC" class="form-control">
                </div> -->
                <div class="d-flex">
                  <!-- <div class="text-right mt-4 mr-5">
                    <label class="text-muted font-weight-normal m-0">SALE:</label>
                    <div class="text-large"><strong>$20</strong></div>
                  </div> -->
                  <div class="text-right mt-4">
                    <label class="text-muted font-weight-normal m-0">Tổng giá:</label>
                    <div class="text-large"><strong>{{sum| number: '1.0-0' }}Đ</strong></div>
                  </div>
                </div>
              </div>

              <div class="float-right">
                <button type="button" style="margin-right:10px" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3"> <a
                    href="/" style="color: white;">Tiếp tục mua hàng</a> </button>
                <button type="button" class="btn btn-lg btn-primary mt-2"
                  [routerLink]="['/thanhtoan']">Tiếp tục thanh toán</button>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
