<style>

  .container {
    max-width: 600px;

    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .alert {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 20px;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    margin-bottom: 20px;
  }


</style>


  <div class="container">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="alert">

      Bạn đã đặt hàng thành công!
    </div>
    <p>Cảm ơn bạn đã mua hàng. Chúng tôi sẽ xử lý đơn hàng của bạn trong thời gian sớm nhất.</p>

    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Quay về trang chủ</a>

  </div>

