<section class="container">
  <div class="row">
    <div class="col-md-2 left-section">
      <!-- Nội dung phần trái -->
    </div>
    <div class="col-md-8 middle-section">
      <article >
        <h2>{{list_item.TieuDe}}</h2>
        <img src="assets/All/{{list_item.AnhTinTuc}}" alt="a">
        <p>{{list_item.NoiDung}}</p>
        <p>heo một hệ thống ủy quyền (ASP), từ 1/4, các trung tâm của Apple có thể tiếp nhận ngay iPhone sau khi kiểm
          tra sản phẩm có mã VN/A, không yêu cầu giấy tờ chứng minh nguồn gốc.
          Quy định này không áp dụng với hàng xách tay. Ví dụ, nếu iPhone được mua tại Apple Store ở Mỹ, các trung tâm
          trong nước chỉ nhận máy nếu người dùng đem theo hóa đơn. Trong một số trường hợp, iPhone xách tay thậm chí bị
          từ chối bảo hành nếu kiểu model, linh kiện không phù hợp với sản phẩm chính hãng tại Việt Nam, ví dụ không có
          khay sim vật lý. Ngoài ra, một số ASP không nhận hàng xách tay do lo ngại bị làm giả hóa đơn mua bán từ thị
          trường quốc tế.</p>
        <p>Người mua sản phẩm Apple và Care+ tại Việt Nam có thể dùng dịch vụ tại tất cả Apple Store hoặc trung tâm bảo
          hành ủy quyền trên thế giới. Ngược lại, máy xách tay có Care+ ở nước khác cũng có thể sử dụng tại Việt Nam.
          Tuy nhiên, chính sách cụ thể có thể thay đổi tùy với mỗi thị trường.

          Hiện Apple có ba gói bảo hành gồm bảo hành mặc định theo máy (một năm và không mất thêm phí), bảo hành mở rộng
          Apple Care và Apple Care+ (người dùng phải trả phí).</p>
      </article>
    </div>
    <div class="col-md-2 right-section">
      <!-- Nội dung phần phải -->
    </div>
  </div>
</section>
