<div class="account-login   layout-2 left-col">




  <div id="account-login" class="container">
    <ul class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i></a></li>
      <!-- <li><a href="indexe223.html?route=account/account">Account</a></li> -->
      <li><a href="indexe223.html?route=account/login"></a></li>
    </ul>
    <div class="row">
      <aside id="column-left" class="col-sm-3 hidden-xs">
        <div class="box">
          <div class="box-heading">Quảng cáo</div>
          <div class="list-group">

            <!-- <a href="indexe223.html?route=account/login" class="list-group-item">Login </a> <a
              href="index5502.html?route=account/register" class="list-group-item">Register</a> <a
              href="indexacda.html?route=account/forgotten" class="list-group-item">Forgotten Password </a>
            <a href="indexe223.html?route=account/account" class="list-group-item">My Account </a>
            <a href="indexe223.html?route=account/address" class="list-group-item">Address Book</a> <a
              href="indexe223.html?route=account/wishlist" class="list-group-item">Wish List </a> <a
              href="indexe223.html?route=account/order" class="list-group-item">Order History </a> <a
              href="indexe223.html?route=account/download" class="list-group-item">Downloads </a><a
              href="indexe223.html?route=account/recurring" class="list-group-item">Recurring payments </a> <a
              href="indexe223.html?route=account/reward" class="list-group-item">Reward Points </a> <a
              href="indexe223.html?route=account/return" class="list-group-item">Returns </a> <a
              href="indexe223.html?route=account/transaction" class="list-group-item">Transactions </a> <a
              href="indexe223.html?route=account/newsletter" class="list-group-item">Newsletter </a> -->

          </div>
        </div>

        <div class="swiper-viewport">
          <div id="banner" class="swiper-container single-banner">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#">
                  <img src="../../../../assets/All/man-hinh-iphone-14-pro.png" alt="Portable Speaker."
                    class="img-responsive" />
                  <div class="left-banner">
                    <!-- <div class="left-text1">Big Saving</div>
                    <div class="left-title">Portable Speaker.</div> -->
                  </div>
                </a>

              </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
            <p></p>
          </div>

        </div>


        <div class="box">

          <div class="list-group">
            <a class="list-group-item">iPhone 14 128GB được xem là mẫu smartphone bùng nổ của nhà táo trong năm 2022, ấn
              tượng với ngoại hình trẻ trung, màn hình chất lượng đi kèm với những cải tiến về hệ điều hành và thuật
              toán xử lý hình ảnh, giúp máy trở thành cái tên thu hút được đông đảo người dùng quan tâm tại thời điểm ra
              mắt. </a>
          </div>
        </div>

      </aside>

      <div id="content" class="col-sm-9">

        <h1>Đăng nhập tài khoản</h1>
        <div class="row">
          <div class="col-sm-6">
            <div class="well">
              <h2>ĐĂNG KÝ</h2>
              <p><strong>Đăng ký tài khoản</strong></p>
              <p>Bằng cách tạo tài khoản, bạn sẽ có thể mua sắm nhanh hơn, cập nhật trạng thái của đơn hàng và theo dõi
                các đơn hàng bạn đã thực hiện trước đó.</p>
              <a href="/dangky" class="btn btn-primary">Tiếp tục</a>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="well">
              <h2>ĐĂNG NHẬP</h2>
              <!-- <p><strong>I am a returning customer</strong></p> -->

              <form action="https://demo.webdigify.com/OPC03/OPC090_quickstore/index.php?route=account/login"
                method="post" enctype="multipart/form-data" (ngSubmit)="dangnhap()">

                <div class="form-group">
                  <label class="control-label" for="input-email">Tên Đăng Nhập</label>
                  <input type="text" name="Tendangnhap" value="" placeholder="Tên Đăng Nhập" id="input-email"
                    class="form-control" minlength="6" maxlength="16" required="" [(ngModel)]="Tendangnhap" required />
                </div>

                <div class="form-group">
                  <label class="control-label" for="input-password">Mật khẩu</label>
                  <input type="password" name="Matkhau" value="" placeholder="Mật khẩu" id="input-password"
                    class="form-control" maxlength="16" minlength="6" required="" [(ngModel)]="Matkhau" required />
                </div>
                <input type="submit" value="Login" class="btn btn-primary" (click)='dangnhap()' />

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Theme created by Welford Media for OpenCart 2.0 www.welfordmedia.co.uk -->
</div>
