<footer class="bottom-to-top hb-animate-element">

  <div class="footer-container">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <aside id="footer-top">
            <script>
              function subscribe() {
                var emailpattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                var email = $('#txtemail').val();
                if (email != "") {
                  if (!emailpattern.test(email)) {
                    $('.text-danger').remove();
                    var str = '<span class="error">Invalid Email</span>';
                    $('#txtemail').after('<div class="text-danger">Invalid Email</div>');

                    return false;
                  }
                  else {
                    $.ajax({
                      url: 'index.php?route=extension/module/newsletters/news',
                      type: 'post',
                      data: 'email=' + $('#txtemail').val(),
                      dataType: 'json',


                      success: function (json) {

                        $('.text-danger').remove();
                        $('#txtemail').after('<div class="text-danger">' + json.message + '</div>');

                      }

                    });
                    return false;
                  }
                }
                else {
                  $('.text-danger').remove();
                  $('#txtemail').after('<div class="text-danger">Email Is Require</div>');
                  $(email).focus();

                  return false;
                }


              }
            </script>

            <div class="newsletter">
              <div class="news-left">
                <div class="news-title">Sign up for newsletter</div>
              </div>
              <div class="news-right">

                <form method="post">
                  <div class="form-group required">
                    <label class="col-sm-2 control-label">Enter Your Email</label>
                    <div class="input-news">
                      <input type="email" name="txtemail" id="txtemail" value="" placeholder="Enter Your Email"
                        class="form-control input-lg" />
                      <button type="submit" class="btn btn-default btn-lg"
                        onclick="return subscribe();">Subscribe</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </aside>

        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <div class="row">

          <div class="footer-blocks">
            <aside id="footer-left">
              <div class="col-sm-3 column footerleft">
                <div class="contact-block">
                  <h5>Liên hệ </h5>
                  <ul>
                    <li><i class="fa fa-map-marker"></i><span>Cẩm la - cẩm ninh -ân thi - hưng yên.</span></li>
                    <li>
                      <span class="contact-inner">
                        <a href="tel:%phone%">(+89) 968-996-142 </a>
                      </span>
                    </li>
                    <li><i class="fa fa-envelope-o"></i><span>phuchuong20102k1.com</span></li>
                  </ul>
                </div>
              </div>

              <div class="newletter-popup">
                <div class="ttpopupclose"></div>
                <div id="boxes" class="newletter-container">
                  <div style="" id="dialog" class="window">
                    <div id="popup2">
                      <span class="b-close"><i class="material-icons icon-close">clear</i></span>
                    </div>
                    <div class="newslatter-img col-sm-6 col-xs-6">
                      <img src="assets/image/cache/catalog/newsletter-450x460.jpg" class="img-responsive" />
                    </div>
                    <div class="box col-sm-6 col-xs-6">
                      <div class="newletter-title">
                        <h2>Newsletter</h2>
                      </div>
                      <div class="box-content newleter-content">
                        <label></label>
                        <div id="frm_subscribe">
                          <form name="subscribe" id="subscribe_popup">
                            <div class="newslatterpopup-content">
                              <span>Get Extra 10% OFF on Frist order!</span>
                              <div id="notification"></div>
                              <input type="text" value="" name="subscribe_pemail" id="subscribe_pemail"
                                placeholder="Your email address">
                              <input type="hidden" value="" name="subscribe_pname" id="subscribe_pname" />

                              <div class="popup-button">
                                <a class="button btn btn-primary"
                                  onclick="email_subscribepopup()"><span>Subscribe</span></a>
                              </div>
                            </div>
                          </form>
                          <div class="subscribe-bottom">
                            <input type="checkbox" id="newsletter_popup_dont_show_again">
                            <label for="newsletter_popup_dont_show_again">Don't show
                              this popup again</label>
                          </div>
                        </div><!-- /#frm_subscribe -->
                      </div><!-- /.box-content -->
                    </div>
                  </div>

                  <script>
                    function email_subscribepopup() {
                      $.ajax({
                        type: 'post',
                        url: 'index.php?route=extension/module/wdnewslettersubscribe/subscribepopup',
                        dataType: 'html',
                        data: $("#subscribe_popup").serialize(),
                        success: function (html) {
                          //$.cookie('shownewsletter', '1');
                          try {

                            eval(html);

                          } catch (e) {
                          }
                        }
                      });


                    }
                    function email_unsubscribepopup() {
                      $.ajax({
                        type: 'post',
                        url: 'index.php?route=extension/module/wdnewslettersubscribe/unsubscribe',
                        dataType: 'html',
                        data: $("#subscribe_popup").serialize(),
                        success: function (html) {
                          try {

                            eval(html);

                          } catch (e) {
                          }
                        }
                      });
                      $('html, body').delay(1500).animate({ scrollTop: 0 }, 'slow');

                    }
                  </script>
                  <script>
                    $(document).ready(function () {

                      if ($.cookie('shownewsletter') == 1) $('.newletter-popup').hide();
                      $('#subscribe_pemail').keypress(function (e) {
                        if (e.which == 13) {
                          e.preventDefault();
                          email_subscribepopup();
                        }
                        var name = $(this).val();
                        $('#subscribe_pname').val(name);
                      });
                      $('#subscribe_pemail').change(function () {
                        var name = $(this).val();
                        $('#subscribe_pname').val(name);
                      });


                      //transition effect
                      if ($.cookie("shownewsletter") != 1) {
                        $('.newletter-popup').bPopup();

                      }


                      $('#newsletter_popup_dont_show_again').on('change', function () {
                        if ($.cookie("shownewsletter") != 1) {
                          $.cookie("shownewsletter", '1')
                        } else {
                          $.cookie("shownewsletter", '0')
                        }
                      });


                    });
                  </script>

                </div>
              </div><!-- /.box -->

              <div class="social-block">
                <h5 class="">Follow Us</h5>
                <ul>
                  <li class="facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li class="youtube"><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                  <li class="rss"><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                  </li>
                </ul>
              </div>

            </aside>


            <div id="account_link" class="col-sm-3 column">
              <h5>Tài khoản</h5>
              <ul class="list-unstyled">
                <li><a >My Account</a></li>
                <li><a [routerLink]="['/giohang']">Giỏ Hàng </a></li>
                <li><a [routerLink]="['/thanhtoan']">Thanh Toán</a></li>

              </ul>
            </div>

            <div id="info" class="col-sm-3 column">
              <h5>Loại </h5>
              <ul class="list-unstyled">
                <li><a (click)="loaisanpham(1)">Iphone</a></li>
                <li><a (click)="loaisanpham(2)">SamSung</a></li>
                <li><a (click)="loaisanpham(3)">Nokia
                  </a></li>
                <li><a (click)="loaisanpham(4)">Xiaomi
                </a></li>

              </ul>
            </div>

            <div id="extra-link" class="col-sm-3 column">
              <h5>Tiện ích </h5>
              <ul class="list-unstyled">
                <li><a href="index7cb2.html?route=information/sitemap">Site Map</a></li>
                <li><a href="indexc295.html?route=information/blogger/blogs">Blogs </a></li>
              </ul>
            </div>

            <aside id="footer-right">
              <div class="footer-cms column col-sm-3">
                <div class="wdcmsfooter">
                  <h5 class="title_block">ứng dụng</h5>
                  <ul class="wdfooter-details">
                    <div class="footer-desc">Download our Apps and get<br>extra 15% Discount on
                      your first Order…!</div>
                    <div class="wdfooter-logo">
                      <div class="wdfooter-img1"><a href="#"><img src="assets/image/catalog/app-icon-01.png" alt=""></a>
                      </div>
                      <div class="wdfooter-img2"><a href="#"><img src="assets/image/catalog/app-icon-02.png" alt=""></a>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>


            </aside>

          </div>


        </div>
      </div>
    </div>


  </div>

  <div class="bottomfooter">
    <div class="container">
      <div class="row">
        <div class="bottomfooter-inner">

          <p class="powered"> <a href="http://www.opencart.com/"></a> Phuchuong20102k1@gmail.com &copy;
            2023</p>
          <div id="paymentcmsblock" class="paymentcmsblock">
            <p></p>
            <div class="payment-block">
              <ul>
                <img src="assets/image/catalog/maestro.png" alt="">
                <img src="assets/image/catalog/mastercard.png" alt="">
                <img src="assets/image/catalog/paypal.png" alt="">
                <img src="assets/image/catalog/visa.png" alt="">
              </ul>
            </div>
            <p></p>
          </div>


        </div>
      </div>
    </div>
  </div>

</footer>
