<div class="product-category-62   layout-2 left-col">

  <div class="content-top-breadcum">
    <div class="container">
    </div>
  </div>

  <div id="product-special" class="container">
    <div class="row">

      <aside id="column-left" class="col-sm-3 hidden-xs" style="margin-top:20px;">
        <!-- <div class="box">
          <div class="box-heading">Information</div>
          <div class="list-group">
            <a class="list-group-item" href="index8816.html?route=information/information&amp;information_id=4">About Us
            </a>
            <a class="list-group-item" href="index1766.html?route=information/information&amp;information_id=6">Delivery
              Information </a>
            <a class="list-group-item" href="index1679.html?route=information/information&amp;information_id=3">Privacy
              Policy </a>
            <a class="list-group-item" href="index99e4.html?route=information/information&amp;information_id=5">Terms
              &amp; Conditions </a>
            <a class="list-group-item" href="index2724.html?route=information/contact">Contact Us </a>
            <a class="list-group-item" href="index7cb2.html?route=information/sitemap">Site Map </a>
          </div>
        </div> -->
        <div class="swiper-viewport">
          <div id="banner" class="swiper-container single-banner">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#">
                  <img src="assets/image/cache/catalog/abc.jfif" alt="Portable Speaker."
                    class="img-responsive" />
                  <div class="left-banner">
                    <div class="left-text1">iPhone 14 pro max</div>
                    <div class="left-title">Apple</div>
                  </div>
                </a>

              </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="box latest">
          <div class="container-fluid">
            <div class="row">
              <div class="box-heading">Giới Thiệu</div>
              <div class="box-content">

                <div class="box-product  productbox-grid" id=" latest-grid">
                  <!-- <div class="product-items">
                    <div class="product-block product-thumb transition">
                      <div class="product-block-inner">
                        <div class="image">
                          <a href="index00bd.html?route=product/product&amp;product_id=54">
                            <img src="assets/image/cache/catalog/24-80x80.jpg"
                              title="Kids headphones bulk 10 pack multi colored for students"
                              alt="Kids headphones bulk 10 pack multi colored for students"
                              class="img-responsive reg-image" />
                            <div class="image_content"><img class="img-responsive hover-image"
                                src="assets/image/cache/catalog/24-01-80x80.jpg"
                                title="Kids headphones bulk 10 pack multi colored for students"
                                alt="Kids headphones bulk 10 pack multi colored for students" /></div>
                          </a>

                          <div class="product_hover_block">
                            <div class="action">
                              <button type="button" class="cart_button" onclick="cart.add('54 ');"
                                title="Add to Cart"><i class="fa fa-shopping-cart" area-hidden="true"></i> </button>
                              <div class="quickview-button">
                                <a class="quickbox" title="Quick View" href="#"><i class="fa fa-eye"></i></a>
                              </div>
                              <button class="wishlist" type="button" title="Add to Wish List "
                                onclick="wishlist.add('54 ');"><i class="fa fa-heart"></i></button>
                              <button class="compare_button" type="button" title="compare "
                                onclick="compare.add('54 ');"><i class="fa fa-exchange"></i></button>
                            </div>
                          </div>
                        </div>
                        <div class="product-details">
                          <div class="caption">
                            <h4><a href="index00bd.html?route=product/product&amp;product_id=54">Kids headphones bulk 10
                                pack multi colored for students </a></h4>
                            <div class="rating">
                              <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                              <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                              <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                              <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                              <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                            </div>


                            <p class="price">
                              $1,000.00
                              <span class="price-tax">Ex Tax: $1,000.00</span>
                            </p>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div> -->
                  <p>Mẫu cao cấp nhất trong dòng sản phẩm - iPhone 14 Pro Max dự kiến ​​sẽ được trang bị viên pin 4.323
                    mAh, dung lượng thấp hơn một chút so với pin 4.352 mAh có trong iPhone 13 Pro Max. Thú vị hơn khi
                    trước đó đã từng có nguồn tin cho rằng mẫu Pro Max mới sẽ có thời lượng pin tăng thêm 2 giờ 10 phút
                    so với mẫu tiền nhiệm. Đối với iPhone 14 Max - một sản phẩm thay thế mẫu mini, sẽ được trang bị viên
                    pin 4.325 mAh. Nếu tin rò rỉ chính xác thì iPhone 14 Max sẽ có pin dung lượng cao nhất trong cả bốn
                    mẫu.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <span class="latest_default_width" style="display:none; visibility:hidden"></span>

      </aside>


      <div id="content" class="col-sm-9">
        <ul class="breadcrumb">
          <li><a href="index9328.html?route=common/home"><i class="fa fa-home"></i></a></li>
          <li><a href="index0854.html?route=product/category&amp;path=62" >IPhone</a></li>
        </ul>




        <div class="row category_thumb">
          <div class="col-sm-3 category_img" ><img src="assets/image/cache/catalog/cat-06-160x160.jpg" alt="iPhone"
              title="iPhone" class="img-thumbnail" /></div>


          <div class="col-sm-9 category_details">
            <h2 class="page-title">Sản phẩm</h2>

          </div>

        </div>

        <div class="category_filter">
          <div class="col-md-4 btn-list-grid">
            <div class="btn-group">
              <button type="button" id="grid-view" class="btn btn-default grid" title="Grid"><i
                  class="fa fa-th"></i></button>
              <button type="button" id="list-view" class="btn btn-default list" title="List"><i
                  class="fa fa-th-list"></i></button>

            </div>
          </div>
          <!-- <div class="compare-total"><a href="index6431.html?route=product/compare" id="compare-total">Product Compare
              (0)</a></div> -->
          <div >
              <label style="display: flex;">
                <h4 style="padding-right: 10px;">Search: </h4><input type="text" name="TenSP" type="search"
                  placeholder="Nhập từ bạn cần tìm?" aria-describedby="button-addon8" class="form-control"
                  [(ngModel)]="cart.TenSP" (ngModelChange)="Search()">
              </label>
          </div>
        </div>

        <div class="row cat_prod" >
          <div class="product-layout product-list col-xs-12"*ngFor="let list of list_item | paginate : { itemsPerPage: 20, currentPage: page, totalItems: totalLength} " >
            <div class="product-block product-thumb " >
              <div class="product-block-inner" >
                <div class="image " >
                  <a (click)="chitietsanpham(list)">
                    <img src="{{PhotoPath}}/{{list.AnhSP}}"
                      title="Apple iPhone 13 (128GB) – Starlight Light Blue"
                      alt="Apple iPhone 13 (128GB) – Starlight Light Blue" class="img-responsive reg-image" />

                  </a>


                  <!-- <div class="wishlist-button offer-btn">
                    <button class="wishlist" type="button" title="Add to Wish List "
                      onclick="wishlist.add('36 ');"></button>
                  </div> -->

                  <div class="countdown">
                  </div>
                </div>
                <div class="product-details">
                  <div class="caption">

                    <span class="product-cat">Phone</span>

                    <h4><a href="indexe2e1.html?route=product/product&amp;path=62&amp;product_id=36">{{list.TenSP}}</a></h4>
                    <div id="quantity_bar">
                      <span class="quantity">Số Lượng: <span class="counter">{{list.SoLuong}}</span></span>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar"></div>
                      </div>
                    </div>

                    <div class="rating">
                      <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                    </div>

                    <p class="price">
                      {{list.Gia| number: '1.0-0' }} Đ
                    </p>


                    <!-- <p class="description">Apple iPhone 13.
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry’s standard dummy text ever since the 1500s, w..</p>
 -->

                    <div class="product_hover_block">
                      <div class="action">
                        <button type="button" class="cart_button" title="Add to Cart" (click)="cartproduct(list)">Thêm giỏ hàng
                          </button>
                      </div>
                      <div class="compare-button offer-btn">
                        <button class="compare_button" type="button" title="compare "
                          onclick="compare.add('36 ');">compare</button>
                      </div>
                      <div class="quickview-button offer-btn">
                        <a class="quickbox" title="Quick View"
                        (click)="chitietsanpham(list)">Chi Tiết</a>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>



        </div>
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="page = $event">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
