<div class=" layout-2 left-col" style="padding-bottom:20px ;">
  <div id="error-not-found" class="container">

    <div class="row">
      <aside id="column-left" class="col-sm-3 hidden-xs" style="margin-top:20px;">
        <!-- <div class="box">
          <div class="box-heading">Information</div>
          <div class="list-group">
            <a class="list-group-item" href="index8816.html?route=information/information&amp;information_id=4">About Us
            </a>
            <a class="list-group-item" href="index1766.html?route=information/information&amp;information_id=6">Delivery
              Information </a>
            <a class="list-group-item" href="index1679.html?route=information/information&amp;information_id=3">Privacy
              Policy </a>
            <a class="list-group-item" href="index99e4.html?route=information/information&amp;information_id=5">Terms
              &amp; Conditions </a>
            <a class="list-group-item" href="index2724.html?route=information/contact">Contact Us </a>
            <a class="list-group-item" href="index7cb2.html?route=information/sitemap">Site Map </a>
          </div>
        </div> -->
        <div class="swiper-viewport">
          <div id="banner" class="swiper-container single-banner">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#">
                  <img src="assets/image/cache/catalog/abc.jfif" alt="Portable Speaker."
                    class="img-responsive" />
                  <div class="left-banner">
                    <div class="left-text1">iPhone 14 pro max</div>
                    <div class="left-title">Apple</div>
                  </div>
                </a>

              </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="box latest">
          <div class="container-fluid">
            <div class="row">
              <div class="box-heading">Giới Thiệu</div>
              <div class="box-content">

                <div class="box-product  productbox-grid" id=" latest-grid">
                  <!-- <div class="product-items">
                    <div class="product-block product-thumb transition">
                      <div class="product-block-inner">
                        <div class="image">
                          <a href="index00bd.html?route=product/product&amp;product_id=54">
                            <img src="assets/image/cache/catalog/24-80x80.jpg"
                              title="Kids headphones bulk 10 pack multi colored for students"
                              alt="Kids headphones bulk 10 pack multi colored for students"
                              class="img-responsive reg-image" />
                            <div class="image_content"><img class="img-responsive hover-image"
                                src="assets/image/cache/catalog/24-01-80x80.jpg"
                                title="Kids headphones bulk 10 pack multi colored for students"
                                alt="Kids headphones bulk 10 pack multi colored for students" /></div>
                          </a>

                          <div class="product_hover_block">
                            <div class="action">
                              <button type="button" class="cart_button" onclick="cart.add('54 ');"
                                title="Add to Cart"><i class="fa fa-shopping-cart" area-hidden="true"></i> </button>
                              <div class="quickview-button">
                                <a class="quickbox" title="Quick View" href="#"><i class="fa fa-eye"></i></a>
                              </div>
                              <button class="wishlist" type="button" title="Add to Wish List "
                                onclick="wishlist.add('54 ');"><i class="fa fa-heart"></i></button>
                              <button class="compare_button" type="button" title="compare "
                                onclick="compare.add('54 ');"><i class="fa fa-exchange"></i></button>
                            </div>
                          </div>
                        </div>
                        <div class="product-details">
                          <div class="caption">
                            <h4><a href="index00bd.html?route=product/product&amp;product_id=54">Kids headphones bulk 10
                                pack multi colored for students </a></h4>
                            <div class="rating">
                              <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                              <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                              <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                              <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                              <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                            </div>


                            <p class="price">
                              $1,000.00
                              <span class="price-tax">Ex Tax: $1,000.00</span>
                            </p>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div> -->
                  <p>Mẫu cao cấp nhất trong dòng sản phẩm - iPhone 14 Pro Max dự kiến ​​sẽ được trang bị viên pin 4.323
                    mAh, dung lượng thấp hơn một chút so với pin 4.352 mAh có trong iPhone 13 Pro Max. Thú vị hơn khi
                    trước đó đã từng có nguồn tin cho rằng mẫu Pro Max mới sẽ có thời lượng pin tăng thêm 2 giờ 10 phút
                    so với mẫu tiền nhiệm. Đối với iPhone 14 Max - một sản phẩm thay thế mẫu mini, sẽ được trang bị viên
                    pin 4.325 mAh. Nếu tin rò rỉ chính xác thì iPhone 14 Max sẽ có pin dung lượng cao nhất trong cả bốn
                    mẫu.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <span class="latest_default_width" style="display:none; visibility:hidden"></span>

      </aside>

      <div id="content" class="col-sm-9">
        <h1 style="padding-top:30px ;">Tiếp tục mua hàng:</h1>

        <div class="bg-light" >
          <div class="container">
            <div class="row">
              <div class="col-md-4 order-md-2 mb-4" >
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="text-muted">Đơn hàng của tôi</span>
                  <!-- <span class="badge badge-secondary badge-pill"></span> -->
                </h4>
                <ul class="list-group mb-3" >
                  <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let list of sanpham;let indexOfelement=index;">
                    <div>
                      <h6 class="my-0"  ><img style="width:50px; padding: 5px 0px;" src="{{PhotoPath}}/{{list.AnhDT}}" alt=""></h6>
                    </div>
                    <div>
                      <h6 class="my-0" style="padding-top:20px " ><img >X{{list.SoLuong}}</h6>
                    </div>
                    <span class="text-muted" style="padding-top:20px ; padding-right: 5px;">{{(list.Gia*(100-list.Sale)/100)*list.SoLuong | number: '1.0-0' }}đ</span>
                  </li>



                  <li class="list-group-item d-flex justify-content-between"   >
                    <span style="padding-left:5px " > Tổng Tiền:</span>
                    <strong style="padding-right:5px " >{{sum |number}}đ</strong>
                  </li>
                </ul>


              </div>

              <div class="col-md-8 order-md-1">
                <!-- <h4 class="mb-3">Billing address</h4> -->

                  <div class="mb-3">
                    <label for="firstName">Nhập Tên</label>
                    <input type="text" class="form-control" name="TenKH"  [(ngModel)]="this.khachhang.TenKH"  placeholder="Nhập họ tên">
                  </div>

                  <div class="mb-3">
                    <label for="username">SĐT</label>
                    <div class="input-group">
                      <input type="text" class="form-control" name="SDT" [(ngModel)]="this.khachhang.SDT" placeholder="Số điện thoại">
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="username">Email</label>
                    <div class="input-group">
                      <input type="text" class="form-control" name="Email" [(ngModel)]="this.khachhang.Email" placeholder="Nhập Email">
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="email">Địa chỉ <span class="text-muted"></span></label>
                    <input type="email" class="form-control" name="Diachi" [(ngModel)]="this.khachhang.Diachi"  placeholder="Nhập địa chỉ" >
                  </div>
                  <div class="mb-3">
                    <label for="address">Ghi chú</label>
                    <input type="text" class="form-control" name="ghichu" [(ngModel)]="this.ghichu" placeholder="Nhập ghi chú của bạn" >
                  </div>
                  <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="order()">Đặt hàng</button>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
