<header>
  <nav class="header_nav">
    <div class="container">
      <div class="row">
        <div class="left-nav">
          <li class="lang-curr-wrapper">
            <div class="pull-left wd-language">
              <form action="https://demo.webdigify.com/OPC03/OPC090_quickstore/index.php?route=common/language/language"
                method="post" enctype="multipart/form-data" id="form-language">
                <div class="btn-group">
                  <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                    <span class="hidden-xs hidden-sm hidden-md">

                      <img src="assets/catalog/language/en-gb/en-gb.png" alt="English" title="English">English
                      <i class="fa fa-angle-down" aria-hidden="true"></i></span></button>
                  <ul class="dropdoen-menu language-menu">
                    <li>
                      <button class="btn btn-link btn-block language-select" type="button" name="en-gb"><img
                          src="assets/catalog/language/en-gb/en-gb.png" alt="English" title="English" />
                        English</button>
                    </li>
                    <li>
                      <button class="btn btn-link btn-block language-select" type="button" name="ar"><img
                          src="assets/catalog/language/ar/ar.png" alt="Arabic" title="Arabic" /> Arabic</button>
                    </li>
                    <li>
                      <button class="btn btn-link btn-block language-select" type="button" name="ru-ru"><img
                          src="assets/catalog/language/ru-ru/ru-ru.png" alt="Russian" title="Russian" />
                        Russian</button>
                    </li>
                    <li>
                      <button class="btn btn-link btn-block language-select" type="button" name="uk-ua"><img
                          src="assets/catalog/language/uk-ua/uk-ua.png" alt="Ukraine" title="Ukraine" />
                        Ukraine</button>
                    </li>
                  </ul>
                </div>
                <input type="hidden" name="code" value="" />
                <input type="hidden" name="redirect"
                  value="https://demo.webdigify.com/OPC03/OPC090_quickstore/index.php?route=common/home" />
              </form>
            </div>

            <div class="pull-left wd-currency">
              <form action="https://demo.webdigify.com/OPC03/OPC090_quickstore/index.php?route=common/currency/currency"
                method="post" enctype="multipart/form-data" id="form-currency">
                <div class="btn-group">
                  <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                    <span class="hidden-xs hidden-sm hidden-md">
                      <strong>Phone:</strong>
                      0968996142<i></i></span></button>

                </div>
                <input type="hidden" name="code" value="" />
                <input type="hidden" name="redirect"
                  value="https://demo.webdigify.com/OPC03/OPC090_quickstore/index.php?route=common/home" />
              </form>
            </div>

          </li>
          <aside id="header-nav-left">
            <div id="wdnavcmsheader">
              <div class="wdheader-service">Emali: phuchuong20102k1@gmail.com</div>
            </div>

          </aside>

        </div>
        <div class="right-nav">
          <div class="nav2">

            <div class="account">
              <div class="dropdown myaccount"><a [routerLink]="['/login']" title="My Account"
                  class="dropdown-toggle" data-toggle="dropdown"><span class="account-title">Tài Khoản</span></a>

                <ul class="dropdown-menu dropdown-menu-right myaccount-menu">
                  <span class="drop_account">
                    <div class="login_acc">
                      <li><a class="login" [routerLink]="['/login']">Login</a>
                      </li>

                    </div>
                  </span>
                </ul>

              </div>
            </div>



            <div> <a class="compare glyphicon glyphicon-shopping-cart"
                style="color: azure; font-size: 22px; padding-top:5px;" [routerLink]="['/giohang']"></a> </div>
          </div>

        </div>
      </div>
    </div>
  </nav>
  <div id="header_top" class="header_top">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 header-logo">
          <div id="logo"><a routerLink="/"> <img src="assets/image/n.png" style="height: 43px;" title="QuickStore"
                alt="QuickStore" /> </a> </div>
        </div>


        <div class="headertop">
          <aside id="header-top">
            <div class="main-category-list left-menu">
              <div class="cat-menu">
                <div class="WD-panel-heading">
                  <!--<i class='material-icons close-icon'>close</i>-->
                </div>
                <div class="wd-menu horizontal-menu wd-menu-bar" id="wd-menu-6119">
                  <ul class="ul-top-items">

                    <!-- <li class="li-top-item mega-menu wd-sub-menu">
                      <a class="a-top-link" href="index98dc.html?route=product/category&amp;path=20">
                        <span>Electronics</span>
                      </a>
                      <div class="mega-menu-container product-thumb sub-menu-container ">
                        <div class="container">
                          <div class="col-sm-6 sub-item2-content" data-cols="6">
                            <div class="sub-cate-img">
                            </div>
                            <a class="a-mega-second-link" href="index460c.html?route=product/category&amp;path=80">
                              <h4><strong>Ear Buds</strong></h4>
                            </a>
                            <div class="sub_item3-content">
                              <a class="a-mega-third-link" href="indexa220.html?route=product/category&amp;path=80_83">
                                <h5>Direct TV</h5>
                              </a>
                              <a class="a-mega-third-link" href="index8e1e.html?route=product/category&amp;path=80_81">
                                <h5>LCD Screen</h5>
                              </a>
                              <a class="a-mega-third-link" href="index6684.html?route=product/category&amp;path=80_82">
                                <h5>LED Screen</h5>
                              </a>
                            </div>
                          </div>



                          <div class="col-sm-6 sub-item2-content" data-cols="6">
                            <div class="sub-cate-img">
                            </div>
                            <a class="a-mega-second-link" href="index76bc.html?route=product/category&amp;path=61">
                              <h4><strong>Laptop</strong></h4>
                            </a>
                            <div class="sub_item3-content">
                              <a class="a-mega-third-link" href="index248d.html?route=product/category&amp;path=61_64">
                                <h5>Apple MacBook</h5>
                              </a>
                              <a class="a-mega-third-link" href="index4fb6.html?route=product/category&amp;path=61_65">
                                <h5>Convertible</h5>
                              </a>
                              <a class="a-mega-third-link" href="index7bfe.html?route=product/category&amp;path=61_63">
                                <h5>Netbook</h5>
                              </a>
                            </div>
                          </div>



                          <div class="col-sm-6 sub-item2-content" data-cols="6">
                            <div class="sub-cate-img">
                            </div>
                            <a class="a-mega-second-link" href="index1647.html?route=product/category&amp;path=25">
                              <h4><strong>Smart Phone</strong></h4>
                            </a>
                            <div class="sub_item3-content">
                              <a class="a-mega-third-link" href="indexe177.html?route=product/category&amp;path=25_28">
                                <h5>Android</h5>
                              </a>
                              <a class="a-mega-third-link" [routerLink]="['/chitiet']">
                                <h5>iPhone</h5>
                              </a>
                              <a class="a-mega-third-link" href="index955a.html?route=product/category&amp;path=25_32">
                                <h5>Windows phones</h5>
                              </a>
                            </div>
                          </div>



                          <div class="col-sm-6 sub-item2-content" data-cols="6">
                            <div class="sub-cate-img">
                            </div>
                            <a class="a-mega-second-link" href="index0027.html?route=product/category&amp;path=27">
                              <h4><strong>Headphones</strong></h4>
                            </a>
                            <div class="sub_item3-content">
                              <a class="a-mega-third-link" href="index6b95.html?route=product/category&amp;path=27_60">
                                <h5>Headsets</h5>
                              </a>
                              <a class="a-mega-third-link" href="index368b.html?route=product/category&amp;path=27_26">
                                <h5>Wired Earbuds</h5>
                              </a>
                              <a class="a-mega-third-link" href="indexb71a.html?route=product/category&amp;path=27_79">
                                <h5>Airpods</h5>
                              </a>
                            </div>
                          </div>



                        </div>
                      </div>


                    </li> -->

                    <!-- <li class="li-top-item mega-menu">
                      <a class="a-top-link" [routerLink]="['/allsanpham']">
                        <span>Sản phẩm</span>
                      </a>

                    </li> -->

                    <li class="li-top-item mega-menu">
                      <a class="a-top-link" (click)="loaisanpham(1)">
                        <span>iPhone</span>
                      </a>
                      <!-- <a class="a-top-link" routerLinkActive="router-link-active"  routerLink="/trangcon"  (click)="loaisanpham(1)">
                        <span>iPhone</span>
                      </a> -->
                    </li>

                    <li class="li-top-item mega-menu">
                      <a class="a-top-link" (click)="loaisanpham(2)">
                        <span>SamSung</span>
                      </a>
                    </li>
                    <li class="li-top-item mega-menu">
                      <a class="a-top-link" (click)="loaisanpham(3)">
                        <span>Nokia</span>
                      </a>
                    </li>
                    <li class="li-top-item mega-menu">
                      <a class="a-top-link" (click)="loaisanpham(4)">
                        <span>Xiaomi</span>
                      </a>
                    </li>
                    <li class="li-top-item mega-menu">
                      <a class="a-top-link" (click)="loaisanpham(5)">
                        <span>vivo</span>
                      </a>
                    </li>
<!--
                    <li class="li-top-item mega-menu">
                      <a class="a-top-link" (click)="loaisanpham(6)">
                        <span>oppo</span>
                      </a>
                    </li> -->


                  </ul>
                </div>
              </div>
            </div>
          </aside>

        </div>
        <!-- <div id="_desktop_contact_link"></div> -->

        <div class="col-sm-5 header_search">

          <button class="fa fa-search search"> <a [routerLink]="['/allsanpham']"
              style="color: black; padding-left: 5px;">Tìm kiếm</a></button>
          <!-- <div id="search" class="input-group">
            <span class="search_button"></span><span class="search-title">Search</span>
            <div class="search_toggle">
              <div id="searchbox">
                <input type="text" name="search" value="" placeholder="Search Product Here..."
                  class="form-control input-lg" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i>Search</button>
                </span>
              </div>
            </div>
          </div> -->
        </div>

      </div>
    </div>
  </div>

</header>
